* {
  box-sizing: border-box;
}

body {
  margin: 20px;
  font-family: sans-serif;
}

.todo-app {
  width: 500px;
  padding: 20px;
  border: 1px solid #ccc;
}

.todo-app h1 {
  margin-bottom: 10px;
  font-size: 18px;
}

.todo-app input {
  width: 100%;
  padding: 5px;
  border: 1px solid #ddd;
}

.todo-app input:focus {
  border-color: #999;
}

.todo-app ul {
  padding: 0;
  list-style: none;
}

.todo-app li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
}

.todo-app li.completed span {
  background-color: #d7d7d7;
  text-decoration: line-through;
}

.todo-app li div {
  display: flex;
}

.todo-app li div input {
  margin-right: 10px;
  cursor: pointer;
}

.todo-app li div button {
  margin-left: 10px;
  padding: 5px 10px;
  border: none;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

.todo-app li button:hover {
  background-color: #333;
}
